@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: #EB6440;
    width: 1440px;
    height: 80px;
}
.logo{
    width: 73px;
    height: 80px;
    position:absolute;
    left: 160px;
    }
#login{
    position: absolute;
    left: 1066px;
    top: 20px;
    text-decoration: none;
    color:black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
   
}
#registrar{
    position: absolute;
    left: 1186px;
    top: 20px;
    text-decoration: none;
    color:black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

.container-principal{
   align-items: center;
   margin-left: 119px;
}

footer{
    background-color: #EB6440;
    text-align: center;
    padding: 20px;
}
.rodape{
    padding-left: 800;
}